body{
    h1.dotted {border-style: dotted;}
    h1.dashed {border-style: dashed;}
    h1.solid {border-style: solid;}
    h1.double {border-style: double;}
    h1.groove {border-style: groove;}
    h1.ridge {border-style: ridge;}
    h1.inset {border-style: inset;}
    h1.outset {border-style: outset;}
    h1.none {border-style: none;}
    h1.hidden {border-style: hidden;}
    h1.mix {border-style: dotted dashed solid double;}
}